In [3]:
with open('dictionary.txt','r') as dictionary_file:
    dictionary =dictionary_file.readlines()

In [4]:
dictionary

['work\n',
 'programming\n',
 'data\n',
 'achievement\n',
 'holiday\n',
 'money\n',
 'investment\n',
 'remote\n',
 'startup\n',
 'ordinary\n',
 'read\n',
 'book\n',
 'life\n',
 'change\n',
 'customer\n',
 'success']

In [6]:
print(dictionary[5])

money

In [13]:
'm' in 'money'

True

In [7]:
len(dictionary[5])

6

In [9]:
dictionary[5][:len(dictionary[5])-1]

'money'

In [10]:
score=8
score-=1

In [11]:
score

7

In [15]:
word='word'
word

'word'

In [17]:
word_list=list(word)
word_list

['w', 'o', 'r', 'd']

In [20]:
reconstructed_word=''.join(word_list)
reconstructed_word

'word'

In [1]:
x=input()
x.isalpha()

a

True

In [2]:
import pandas as pd

In [46]:
users=pd.read_csv('database/users.csv', index_col=0)
users.head()

Empty DataFrame
Columns: [username, score, nb_games, wins, losses]
Index: []

In [47]:
user=users[users['username']=="vianmixt"]
user

Empty DataFrame
Columns: [username, score, nb_games, wins, losses]
Index: []

In [48]:
type(user)

pandas.core.frame.DataFrame

In [49]:
user.shape

(0, 5)

In [26]:
user.score

userID
1    1
Name: score, dtype: int64

In [33]:
newUser=pd.DataFrame([['diela',0,0,0,0]])
newUser.columns=users.columns

In [34]:
users=users.append(newUser, ignore_index=True)
users

    username  score  nb_games  wins  losses
0   vianmixt      1         8     1       0
1  madelonat      0         0     0       0
2      diela      0         0     0       0

In [37]:
users.index.name='userID'
users.to_csv('database/users.csv')

In [38]:
test=None

In [39]:
if test:
    print('None is not false')

In [41]:
if not(test):
    print('None is false')

None is false

In [42]:
users

         username  score  nb_games  wins  losses
userID
0        vianmixt      1         8     1       0
1       madelonat      0         0     0       0
2           diela      0         0     0       0

In [43]:
users[users['username']=="vianmixt"].score=8
users[users['username']=="vianmixt"].nb_games=1
users

C:\Users\viann\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

         username  score  nb_games  wins  losses
userID
0        vianmixt      1         8     1       0
1       madelonat      0         0     0       0
2           diela      0         0     0       0

In [44]:
users[users['username']=="vianmixt"].loc[0,1]=8
users

C:\Users\viann\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\viann\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

         username  score  nb_games  wins  losses
userID
0        vianmixt      1         8     1       0
1       madelonat      0         0     0       0
2           diela      0         0     0       0

In [45]:
users.loc[users.username=="vianmixt",'score']=8
users.loc[users.username=="vianmixt",'nb_games']=1
users

         username  score  nb_games  wins  losses
userID
0        vianmixt      8         1     1       0
1       madelonat      0         0     0       0
2           diela      0         0     0       0